main {
    .grid-container {
        .section-product {
            grid-column: 2/12;
            grid-column-start: 2;
            grid-row-start: 1;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 24px;
            align-items: center;

            img {
                border-radius: 8px;
                transition: transform 0.3s ease;
                width: 100%;
                height: auto;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }

            img:hover {
                transform: scale(1.04);
            }

            button {
                margin-top: 24px;
            }

            .texto-proyecto {
                a {

                    :hover::before {
                        transition-duration: .3s;
                        transform: translate(100%, -50%);
                        border-radius: 0;
                    }

                    ::before {
                        width: 170px;
                        height: 130px;
                        position: absolute;
                        content: "";
                        background-color: white;
                        border-radius: 50%;
                        left: -100%;
                        top: 0;
                        transition-duration: .3s;
                        mix-blend-mode: difference;
                    }

                    .button-vermas {
                        width: 170px;
                        height: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(15, 15, 15);
                        border: none;
                        color: white;
                        font-weight: 1000;
                        font-size: 17px;
                        gap: 8px;
                        cursor: pointer;
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
                        position: relative;
                        overflow: hidden;
                        transition-duration: .3s;

                        .svgIcon {
                            width: 32px;
                            margin-left: 8px;

                            path {
                                fill: white
                            }
                        }



                    }
                }
            }
        }
        .programa1-6{

            .programa-1 {
                .productdesigner-icon {
                    .icon-content {
    
                        [data-social="figma"] {
                            .filled {
                                background: linear-gradient(to right, #F2015B, #ED02F1, #04038D)
                            }
                        }
    
                        [data-social="figma"] {
                            ~.tooltip {
                                background: linear-gradient(to right, #F2015B, #ED02F1, #04038D)
                            }
                        }
    
                    }
                }
            }
    
            .programa-2 {
                .productdesigner-icon {
                    .icon-content {
                        [data-social="whimsical"] {
                            .filled {
                                background: linear-gradient(to right, #4B31FE, #E26AFE)
                            }
                        }
    
                        [data-social="whimsical"] {
                            ~.tooltip {
                                background: linear-gradient(to right, #4B31FE, #E26AFE)
                            }
                        }
                    }
                }
            }
    
            .programa-3 {
                .productdesigner-icon {
                    .icon-content {
                        [data-social="optimal-workshop"] {
                            .filled {
                                background-color: #fed600;
                            }
                        }
    
                        [data-social="optimal-workshop"] {
                            ~.tooltip {
                                background-color: #fed600;
                            }
                        }
                    }
                }
            }
    
            .programa-4 {
                .productdesigner-icon {
                    .icon-content {
                        [data-social=""] {
                            .filled {
                                background-color: #00005A;
                            }
                        }
    
                        [data-social=""] {
                            ~.tooltip {
                                background-color: #00005A;
                            }
                        }
                    }
                }
            }
        }
    }
}